body {
    font-family: inherit;/* Define a fonte de texto para ser a mesma que a fonte usada no elemento pai */
    font-size: 15px;/* Define o tamanho da fonte para 15 pixels */
    margin: 0;/* Remove margens externas */
    padding: 0;/* Remove preenchimento interno */
    background-color: lavender; /* Define a cor de fundo como "lavender" (um tom claro de roxo) */
    text-align: justify;  /* Define o alinhamento do texto como justificado (o texto se espalhará uniformemente nas margens) */
}

.linha-horizontal {
    height: 0.90cm; /* Altura da linha (1cm) */
    background-color:MediumPurple; /* Cor de preenchimento da linha (preto) */
    margin: 10px 0; /* Espaçamento acima e abaixo da linha (opcional) */
} 
.linha{
    height: 0.07cm; /* Altura da linha (1cm) */
    background-color: MediumPurple; /* Cor de preenchimento da linha (preto) */
    margin: 10px 0; /* Espaçamento acima e abaixo da linha (opcional) */
    padding: 0.07px; /* Espaçamento entre a linha e a borda do elemento */
    margin-left: 1cm; /* Espaço em relação à margem esquerda da página */
    margin-right: 1cm; /* Espaço em relação à margem direita da página */

  
}
header {
    color: darkmagenta; /* Define a cor do texto como "darkmagenta" */
    text-align: center;/* Centraliza o texto horizontalmente */
    padding: 20px;/* Adiciona preenchimento interno de 20 pixels ao redor do elemento <header> */
}

h1 {
    font-size: 36px; /* Define o tamanho da fonte como 36 pixels */
    margin: 0; /* Remove a margem superior e inferior do elemento <h1> */
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;/* Define a família de fontes preferida com uma lista de alternativas */
    font-size: 25px;  /* Define o tamanho da fonte como 25 pixels */
    margin: 0; /* Remove a margem superior e inferior do elemento <h2> */
}


.container {
    display: flex;  /* Usa um layout flexível e distribui o espaço entre os filhos com espaço entre eles */
    justify-content: space-between;
    padding: 20px; /* Adiciona preenchimento interno de 20 pixels ao redor do elemento com a classe "container" */
    max-width: 1200px; /* Define a largura máxima como 1200 pixels e centraliza horizontalmente */
    margin: 0 auto;
    text-align: justify;/* Define o alinhamento do texto como justificado */
}


.column {
    flex: 1;  /* Usa o espaço disponível de forma flexível */
    background-color: white; 
    padding: 20px; /* Adiciona preenchimento interno de 20 pixels ao redor do elemento com a classe "column" */
    border: 1px solid #ccc;  /* Adiciona uma borda sólida com 1 pixel de largura e cor cinza (#ccc) */
    margin: 10px;  /* Adiciona uma margem de 10 pixels ao redor do elemento com a classe "column" */
    text-align: justify;
}

.column h2 {
    color: lightslategray;
}

.column ul {
    list-style-type: disc;   /* Define o tipo de marcador como bolinha preenchida */
}

.column ul li {
    margin-bottom: 10px; /* Adiciona espaço inferior de 10 pixels entre os itens da lista */
}

.clear {
    clear: both; /* Define uma classe "clear" para limpar elementos flutuantes (clear:both) */
}